:root {
    /* Palette courtesy of 
    https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644 */
    
    --almond: #EDE0D4;
    --dun: #E6CCB2;
    --tan: #DDB892;
    --chamoisee: #B08968;
    --coffee: #7F5539;
    --raw_umber: #9C6644;
}

body {
    background-color: var(--tan);
}

/* Add Cafe */
.add_cafe {
    background-color: var(--dun);
    width: 90%;
    margin-top: 7vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vw;
    border: 0.5vw double var(--chamoisee);
}

/* Scrollbar for WebKit browsers like Chrome, Safari, and new Edge */
body::-webkit-scrollbar {
    width: 0.5em;
  }

    /* Track */
    body::-webkit-scrollbar-track {
        background: var(--almond);
    }

    /* Handle */
    body::-webkit-scrollbar-thumb {
        background: var(--coffee);
    }

    /* Handle on hover */
    body::-webkit-scrollbar-thumb:hover {
        background: var(--raw_umber);
    }

/* Headings */

h1 {
    color: var(--coffee);
    text-decoration: underline;
    font-weight: 700;
    padding-top: 2vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
}
    h3 {
        font-weight: 600;
    }

    h3, h4, h5 {
        display: inline;
        margin-right: 0.5vw;
    }

    h4, h5, h6 {
        color: var(--chamoisee);
    }
    
    h4 {
        margin-left: 4vw;
    }

    h6 {
        padding-top: 1vw;
    }


/* Navigation Bar */

.navbar-dark, .navbar-brand {
    background-color: var(--coffee);
    color: var(--tan);
}
    .offcanvas {
        --bs-offcanvas-box-shadow: var(--coffee);
    }

    .navbar-brand:hover {
        color: var(--almond);
    }
    .offcanvas-title {
        color: var(--tan);
    }

    .offcanvas-body, .offcanvas-header {
        background-color: var(--coffee);
    }
    
    .dropdown-menu {
        background-color: var(--raw_umber);
    }

    /* Search Bar */

    .form-control {
        background-color: var(--dun);
        color: var(--coffee);
    }

        /* Targeting the inner search font, suggested by CoPilot */
        .me-2 input::placeholder {
            color: var(--coffee);
        }

/* Form CSS */
.row.g-3 {
    margin-left: 15vw;
    color: var(--coffee);
}
    .row.g-3, .row.g-3 input, .form-select {
        color: var(--coffee);
    }

    .row.g-3 input, .form-select, .form-control {
        background-color: var(--almond);
    }

    .form-control:focus, .form-select:hover {
        background-color: #faf4eece;
        color: var(--chamoisee);
    }
    #inputGroupPrepend2 {
        background-color: var(--coffee);
        color: var(--tan);
    }

    .break {
        margin-top: 0.25vw;
    }

/* Buttons */

    /* Navbar Button */
    .btn {
        background-color: var(--chamoisee);
        color: var(--almond);
        --bs-btn-border-color: var(--chamoisee);
        --bs-btn-hover-border-color: var(--chamoisee);
        --bs-btn-hover-bg: var(--tan);
        min-width: fit-content;
    }

    .btn-secondary {
        background-color: var(--coffee);
        color: var(--tan);
        --bs-btn-border-color: var(--raw_umber);
        --bs-btn-hover-border-color: var(--raw_umber);
        --bs-btn-hover-bg: var(--raw_umber);
        min-width: fit-content;
        margin-bottom: 5vw;
    }
    /* Cafe Card Buttons */

    .button-container {
        display: flex;
    }

    .btn.directions, .btn.disabled {
        margin-top: 1vw;
    }

    .divider {
        width: 7.5vw;
        height: auto;
        display: inline-block;
    }

/* Card CSS */
.card-group {
    margin-top: 3.25vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
    min-height: 50vh;
    margin-bottom: 1vw;
}

.card {
    justify-content: center;
    background-color: var(--dun);
    min-width: 28.66vw;
    min-height: fit-content;
    max-height: 48vw;
    max-width: 28.66vw;
    padding: 1vw;
    margin: 1vw;
}

.card-img-top {
    max-height: 16vw;
    object-fit: cover;
    height: auto;
}

.card-title {
    color: var(--raw_umber);
    margin-left: 1.5vw;
}

.card-body {
    color: var(--coffee);
    margin-top: 0.5vw;
    min-width: 25vw;
    text-align: justify;
}

.card-text {
    margin-top: 1vw;
    margin-left: 2vw;
}

.description {
    overflow-y: auto;
    max-height: 3em;
    padding-right: 1vw;
    scrollbar-color: var(--chamoisee) var(--tan);
}

.longer_name {
    display: inline;
    margin-left: 1vw;
}


    /* Card Links */
    .card a {
        color: var(--raw_umber);
    }

        /* Visited Links */
        .card a:visited {
            color: var(--coffee);
        }

        /* Links on Hover */
        .card a:hover {
            color: var(--chamoisee);
            text-decoration: none;
        }

/* Table */
table {
    margin-bottom: 1vw;
    margin-top: 1vw;
}
.adjusted_icons, .adjusted_icons_2 {
    display: inline;
}
    .first_row_a {
        padding-right: 1vw;
    }

    .second_row_a {
        margin-left: 0.2vw;
    }

    .adjusted_icons {
        margin-left: 1vw;
    }

    .adjusted_icons_2 {
        margin-left: 3.5vw;
    }

    .right {
        margin-left: 2vw;
    }

    .third_row_b {
        top: 0.1vw;
    }

/* SVGs */
a .add {
    width: 15vw;
    margin-top: 15vw;
    margin-left: 7vw;
    margin-bottom: 15vw;
}

.indicator_icons {
    width: 1.75vw;
}