:root {
    /* Palette courtesy of 
    https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644 */
    
    --almond: #EDE0D4;
    --dun: #E6CCB2;
    --tan: #DDB892;
    --chamoisee: #B08968;
    --coffee: #7F5539;
    --espresso: #5b3d28;
    --raw_umber: #9C6644;
}

body {
    background-color: var(--tan);
}

/* Add Cafe */
.add_cafe, .edit_cafe, .login_register {
    background-color: var(--dun);
    width: 90%;
    margin-top: 7vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vw;
    border: 0.5vw double var(--chamoisee);
}

/* Scrollbar for WebKit browsers like Chrome, Safari, and new Edge */
body::-webkit-scrollbar {
    margin-right: 5vw;
  }

    /* Track */
    body::-webkit-scrollbar-track {
        background: var(--dun);
    }

    /* Handle */
    body::-webkit-scrollbar-thumb {
        background: var(--coffee);
    }

    /* Handle on hover */
    body::-webkit-scrollbar-thumb:hover {
        background: var(--raw_umber);
    }

/* Headings */

h1 {
    color: var(--coffee);
    text-decoration: underline;
    font-weight: 700;
    padding-top: 2vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
}
    h3 {
        font-weight: 600;
    }

    h3, h4, h5 {
        display: inline;
        margin-right: 0.5vw;
    }

    h4, h5, h6 {
        color: var(--chamoisee);
    }
    
    h4 {
        margin-left: 2vw;
    }

    h6 {
        padding-top: 1vw;
    }


/* Navigation Bar */

.navbar-dark, .navbar-brand {
    background-color: var(--coffee);
    color: var(--tan);
}

    .container-fluid {
        margin-left: 2vw;
    }

    .offcanvas {
        --bs-offcanvas-box-shadow: var(--coffee);
    }

    .navbar-brand:hover {
        color: var(--almond);
    }

    .offcanvas-title {
        color: var(--tan);
        font-size: xx-large;
        margin-left: 1vw;
    }
    
    .btn-close.btn-close-white {
        margin-right: 0.5vw;
    }

    .offcanvas-body, .offcanvas-header {
        background-color: var(--coffee);
    }

    .offcanvas {
        font-size: x-large;
    }

    .nav-item {
        margin-left: 2vw;
    }

    .nav-link {
        margin-left: 0.5vw;
    }

    .nav-item-icon {
        display: flex;
        align-items: center;
    }
    
    .nav-item-icon img.bullet_point {
        margin-right: 0.5rem; 
    }

    .offcanvas.offcanvas-end.text-bg-dark {
        max-height: fit-content;
    }

    img.bullet_point {
        color: var(--espresso);
        margin-top: 0;
        max-width: 2vw;
    }


    /* Search Bar */

    .form-control {
        background-color: var(--almond);
        color: var(--coffee);
        border-left: none;
    }

        /* Targeting the inner search font, suggested by CoPilot */
        .me-2 input::placeholder {
            color: var(--coffee);
        }

/* Form CSS */
.row.g-3 {
    margin-left: 15vw;
    color: var(--coffee);
    font-size: larger;
}

    .row.g-3, .row.g-3 input, .form-select {
        color: var(--coffee);
    }

    .row.g-3 input, .form-select {
        background-color: var(--almond);
    }

    .form-select:hover {
        background-color: #faf4eece;
        color: var(--chamoisee);
    }
    
    #inputGroupPrepend1, #inputGroupPrepend2 {
        background-color: var(--coffee);
        color: var(--tan);
    }

    #inputGroupPrepend1 {
        width: fit-content;
    }
    .break {
        margin-top: 0.25vw;
    }

/* Buttons */

    /* Navbar Button */
    .btn {
        background-color: var(--chamoisee);
        color: var(--almond);
        --bs-btn-border-color: var(--chamoisee);
        --bs-btn-hover-border-color: var(--chamoisee);
        --bs-btn-hover-bg: var(--tan);
        min-width: fit-content;
    }

    /* Add and Edit Buttons */

    .btn.btn-secondary {
        margin-top: 1vw;
        margin-bottom: 5vw;
    }

    /* Cafe Card Buttons */

    .button-container {
        display: flex;
    }

    .btn.directions, .btn.disabled {
        margin-top: 1vw;
    }

    .btn.disabled {
        color: var(--coffee);
    }

    .divider {
        width: 7.5vw;
        height: auto;
        display: inline-block;
    }

    .btn.edit, .btn.edit2 {
        position: absolute;
    }

        .btn.edit {
            margin-top: 0.75vw;
            right: 3vw;
        }

        .btn.edit2 {
            margin-top: 0.75vw;
            right: 7vw;
        }

    .btn.delete {
        position: absolute;
        margin-top: 0.75vw;
        right: 3vw;
    }

    .btn.secondary {
        background-color: var(--coffee);
        color: var(--tan);
        --bs-btn-border-color: var(--raw_umber);
        --bs-btn-hover-border-color: var(--raw_umber);
        --bs-btn-hover-bg: var(--raw_umber);
        min-width: fit-content;
        margin-bottom: 5vw;
    }

    .chain_indicator {
        margin-left: 2vw;
        display: flex;
        position: absolute;
        right: 2vw;
        z-index: 100;
    }

    .chain_indicator_smaller {
        display: flex;
        position: absolute;
        top: 20.75vw; 
        right: 2vw; 
        z-index: 100;
    }

/* Card CSS */
.card-group {
    margin-top: 3.25vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
    min-height: 50vh;
    margin-bottom: 1vw;
}

.card {
    justify-content: center;
    position: relative;
    background-color: var(--dun);
    min-width: 28.66vw;
    min-height: fit-content;
    max-height: 50vw;
    max-width: 28.66vw;
    padding: 1vw;
    margin: 1vw;
}

.card-img-top {
    max-height: 16vw;
    object-fit: cover;
    height: auto;
}

.card-title {
    color: var(--raw_umber);
    margin-left: 1.5vw;
}

.card-body {
    color: var(--coffee);
    margin-top: 0.5vw;
    min-width: 25vw;
    text-align: justify;
}

.card-text {
    margin-top: 1vw;
    margin-left: 2vw;
}

.description {
    overflow-y: auto;
    max-height: 3em;
    padding-right: 1vw;
    scrollbar-color: var(--chamoisee) var(--tan);
}

.longer_name {
    display: inline;
    margin-left: 2vw;
}

    .mid_name {  
        display: inline;
        margin-left: -0.25vw;
    }

    /* Card Links */
    .card a {
        color: var(--raw_umber);
    }

        /* Visited Links */
        .card a:visited {
            color: var(--coffee);
        }

        /* Links on Hover */
        .card a:hover {
            color: var(--chamoisee);
            text-decoration: none;
        }

/* Table */
table {
    margin-bottom: 1vw;
    margin-top: 1vw;
}
.adjusted_icons, .adjusted_icons_2 {
    display: inline;
}
    .first_row_a {
        padding-right: 1vw;
    }

    .second_row_a {
        margin-left: 0.2vw;
    }

    .adjusted_icons {
        margin-left: 1vw;
    }

    .adjusted_icons_2 {
        margin-left: 3.5vw;
    }

    .right {
        margin-left: 2vw;
    }

    .third_row_b {
        top: 0.1vw;
    }

/* SVGs */
a .add {
    width: 15vw;
    margin-top: 15vw;
    margin-left: 7vw;
    margin-bottom: 15vw;
}

.indicator_icons {
    width: 1.75vw;
}

/* Error Messages */
.flash, .heading_flash {
    text-align: center;
    font-weight: 700;
}

    .flash {
        color: var(--raw_umber);
    }

    .heading_flash {
        color: var(--tan);
        display: inline;
        margin-left: 25vw;
    }

.warning {
    max-width: 2vw;
}