:root {
    /* Palette courtesy of 
    https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644 */
    
    --almond: #EDE0D4;
    --dun: #E6CCB2;
    --tan: #DDB892;
    --chamoisee: #B08968;
    --coffee: #7F5539;
    --raw_umber: #9C6644;
}

body {
    background-color: var(--tan);
}


/* Scrollbar for WebKit browsers like Chrome, Safari, and new Edge */
body::-webkit-scrollbar {
    width: 0.5em;
  }

    /* Track */
    body::-webkit-scrollbar-track {
        background: var(--almond);
    }

    /* Handle */
    body::-webkit-scrollbar-thumb {
        background: var(--coffee);
    }

    /* Handle on hover */
    body::-webkit-scrollbar-thumb:hover {
        background: var(--raw_umber);
    }

/* Headings */
h3 {
    font-weight: 600;
}
    h4 {
        color: var(--chamoisee);
    }

    h3, h4 {
        display: inline;
        margin-right: 0.5vw;
    }
    
    h4 {
        margin-left: 1.5vw;
    }

    h6 {
        color: var(--chamoisee);
        padding-top: 1vw;
    }

/* Navigation Bar */

.navbar-dark, .navbar-brand {
    background-color: var(--coffee);
    color: var(--tan);
    --bs-navbar-hover-color: var(--almond);
}
    .offcanvas-title {
        color: var(--tan);
    }

    .offcanvas-body, .offcanvas-header {
        background-color: var(--coffee);
    }
    
    .dropdown-menu {
        background-color: var(--raw_umber);
    }

    /* Search Bar */

    .form-control {
        background-color: var(--dun);
    }

        /* Targeting the inner search font, suggested by CoPilot */
        form[role="search"] .form-control.me-2[type="search"] {
            color: var(--coffee);
        }

/* Buttons */

    /* Navbar Button */
    .btn {
        background-color: var(--chamoisee);
        color: var(--almond);
        --bs-btn-border-color: var(--chamoisee);
        --bs-btn-hover-border-color: var(--chamoisee);
        --bs-btn-hover-bg: var(--tan);
    }

/* Card CSS */
.card-group {
    margin-top: 3.75vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
    min-height: 50vh;
}

.card {
    justify-content: center;
    background-color: var(--dun);
    min-width: 28.66vw;
    max-height: 45vw;
    padding: 1vw;
    margin: 1vw;
}

.card-img-top {
    max-height: 17.25vw;
    object-fit: cover;
    height: auto;
}

.card-title {
    color: var(--raw_umber);
    margin-left: 1.5vw;
}

.card-body {
    color: var(--coffee);
    margin-top: 1vw;
}

.card-text {
    margin-top: 2vw;
    margin-left: 2vw;
}

/* Table */
table {
    margin-bottom: 1vw;
}
.adjusted_icons, .adjusted_icons_2 {
    display: inline;
}
    .first_row_a {
        padding-right: 1vw;
    }

    .second_row_a {
        margin-left: 0.2vw;
    }

    .adjusted_icons {
        margin-left: 1vw;
    }

    .adjusted_icons_2 {
        margin-left: 3.5vw;
    }

    .right {
        margin-left: 2vw;
    }

    .third_row_b {
        top: 0.1vw;
    }