{% extends "base.html" %}

{% block title %}Add a Task{% endblock %}

{% block content %}

    <div class="add_task">
        <h1>Add a Task</h1>

        <!-- Outputs error messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for error in messages %}
                    <p class="flash">
                        <img src="{{ url_for('static', filename='assets/svg/warning.svg')}}" class="warning" alt="Error">
                        {{ messages[-1] }} 
                        <img src="{{ url_for('static', filename='assets/svg/warning.svg')}}" class="warning" alt="Error">
                    </p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div>
            <form class="row g-3" action="{{ url_for('add_task') }}" method="POST">
                <div class="col-md-1">
                    <label for="ColorInput" class="form-label">Task Color:</label>
                    <input type="color" class="form-control form-control-color" id="ColorInput" value="#761f1f" name="task_color" title="Choose your color">
                </div>
                <div class="col-md-1">
                    <label for="validationDefault01" class="form-label">Task:</label>
                    <input type="text" class="form-control" id="validationDefault01" placeholder="Enter a Title" name="task_name" required>
                </div>
                <div class="col-md-2">
                    <label for="validationDefault01" class="form-label">Task Description:</label>
                    <input type="text" class="form-control" id="validationDefault01" placeholder="Enter a Description" name="task_description" required>
                </div>
                <div class="col-md-2">
                    <label for="validationDefault01" class="form-label">Task Date:</label>
                    <input class="form-control" id="taskDate" name="task_date" type="date" required>
                </div>
                <div class="col-md-2">
                    <label for="validationDefault01" class="form-label">Select a Time:</label>
                    <input class="form-control" type="time" id="time" name="time">
                </div>
                <div class="col-md-2">
                    <label for="validationDefault04" class="form-label">Priority Level</label>
                    <select class="form-select" id="validationDefault04" name="priority_level" required>
                        <option selected disabled value="">Please Make a Selection</option>
                        <option value="0">Low</option>
                        <option value="1">Medium</option>
                        <option value="2">High</option>
                    </select>
                </div>
                <div class="col-2">
                    <button class="btn btn-secondary" type="submit">Add Task</button>
                </div>
            </form>
        </div>


    </div>

    <script>
        // HTML5 calendar suggested by Carol Skelly on Stack OverFlow
        $(document).ready(function(){

            // Grab the date from the form and set it as date_input
            let taskDate = document.getElementById('taskDate')
            
            taskDate.addEventListener('change',(e)=>{
              let taskDateVal = e.target.value
              document.getElementById('taskDateSelected').innerText = taskDateVal
            })
            
    </script>
{% endblock %}