{% extends "base.html" %}

{% block title %}Tasks for {{ date }}{% endblock %}

{% block content %}

    <div class="priorities">
        <div class="priority_heading">Priorities</div>

        {% if priorities %}
            {% for priority in priorities %}
                <div class="priority_item">
                   * {{ priority.task_name }}
                </div>
            {% endfor %}
        {% endif %}
    </div>


    <div class="day_view">
       <div class="day">
            {{ day }}
       </div>

       <table class="task_table">
            <tr>
                <td>
                    <div class="task_list">
                        {% if tasks %}
                            {% for task in tasks %}
                                <div class="item">
                                    <div class="{% if task.priority_level < 1 %}header{% elif task.priority_level == 1 %}mid_prio_header{% else %}bold_header{% endif %}">
                                        <input type="checkbox" style="accent-color: {{ task.task_color }};"> 

                                        {{ task.task_name }} 
                                            
                                        {{ (task.task_time|str_to_time)|format_time }}
                                        
                                        <a href="{{ url_for('edit', task_id=task.task_id)}}">
                                            <img src="{{ url_for('static', filename='assets/svg/edit.svg')}}" class="edit">
                                        </a>
                                        <form action="{{ url_for('delete_task', task_id=task.task_id) }}" class="delete_icon" method="POST">
                                            <input type="hidden" name="method" value="DELETE">
                                            <input type="hidden" name="api_key" value="{{ api }}">
                                            <button type="submit" class="btn delete">x</button>
                                        </form>
                                    </div>
                                    <div class="description">
                                        {{ task.description }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                    <a href="{{ url_for('add_task') }}">
                        <img src="{{ url_for('static', filename='assets/svg/add.svg')}}" class="add">
                    </a>

                </td>
            </tr>
        </table>
    </div>

{% endblock %}