{% extends "base.html" %}

{% block title %}Tasks for {{ date }}{% endblock %}

{% block content %}

    <div class="priorities">
        Priorities
    </div>


    <div class="day_view">
       <div class="day">
            {{ day }}
       </div>

       <table class="task_table">
        <tr>
            <td>
                <!-- TODO: Add tasks in either AM or PM Hours
                 depending on when the task is scheduled-->
                
                <div class="task_list">
                    {% if tasks %}
                        {% for task in tasks %}
                            <div class="item">
                                <div class="header">
                                    <input type="checkbox" style="accent-color: {{ task.task_color }};"> 

                                    {{ task.task_name }} 
                                    
                                    {{ (task.task_time|str_to_time)|format_time }}

                                    <img src="{{ url_for('static', filename='assets/svg/edit.svg')}}" class="edit">
                                </div>
                                <div class="description">
                                    {{ task.description }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
                <a href="{{ url_for('add_task') }}">
                    <img src="{{ url_for('static', filename='assets/svg/add.svg')}}" class="add">
                </a>
            </td>
            
        </tr>

    </table>



    </div>

{% endblock %}