{% extends "base.html" %}

{% block title %}Tasks for {{ date }}{% endblock %}

{% block content %}

    <div class="priorities">
        Priorities
    </div>
    
    <table class="hourly_schedule am_hours">
        <tr>
            <td>
                <!-- TODO: Add tasks in either AM or PM Hours
                 depending on when the task is scheduled-->
                12am
            </td>
        </tr>

    </table>

    <table class="hourly_schedule pm_hours">

        <tr>
            <td>
                <!-- TODO: Allow the list to expand -->
                12pm
            </td>
        </tr>
    </table>
    <div class="day_view">
       <div class="day">
            {{ day }}
       </div>

    </div>
    <div class="task_description">
        Description
    </div>

{% endblock %}