{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}

<div class="login_register">
    <h1>Log In</h1>

    <!-- Outputs error messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for error in messages %}
                <p class="flash">
                    <img src="{{ url_for('static', filename='assets/svg/warning.svg')}}" class="warning" alt="Error">
                    {{ messages[-1] }} 
                    <img src="{{ url_for('static', filename='assets/svg/warning.svg')}}" class="warning" alt="Error">
                </p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div>
        <form class="row g-2" action="{{ url_for('login') }}" method="POST">
            <div class="col-md-9">
                <label for="validationDefault01" class="form-label">Username:</label>
                <input type="text" class="form-control" id="validationDefault01" name="username" required>
            </div>
            <div class="col-md-9">
                <label for="validationDefault02" class="form-label">Password:</label>
                <input type="text" class="form-control" id="validationDefault02" name="password" required>
            </div>
            <div class="col-12">
                <button class="btn btn-secondary" type="submit">Log In</button>
            </div>
        </form>
    </div>


</div>
{% endblock %}