{% extends "base.html" %}

{% block title %}Tasks for {{ date }}{% endblock %}

{% block content %}

    <div class="priorities">
        Priorities
    </div>
    
    <table class="hourly_schedule am_hours">
        <tr>
            <td>
                12am
            </td>
        </tr>
        <tr>
            <td>
                1am
            </td>
        </tr>
        <tr>
            <td>
                2am
            </td>
        </tr>
        <tr>
            <td>
                3am
            </td>
        </tr>
        <tr>
            <td>
                4am
            </td>
        </tr>
        <tr>
            <td>
                5am
            </td>
        </tr>
        <tr>
            <td>
                6am
            </td>
        </tr>
        <tr>
            <td>
                7am
            </td>
        </tr>
        <tr>
            <td>
                8am
            </td>
        </tr>
        <tr>
            <td>
                9am
            </td>
        </tr>
        <tr>
            <td>
                10am
            </td>
        </tr>
        <tr>
            <td>
                11am
            </td>
        </tr>
    </table>

    <table class="hourly_schedule pm_hours">

        <tr>
            <td>
                12pm
            </td>
        </tr>
        <tr>
            <td>
                1pm
            </td>
        </tr>
        <tr>
            <td>
                2pm
            </td>
        </tr>
        <tr>
            <td>
                3pm
            </td>
        </tr>
        <tr>
            <td>
                4pm
            </td>
        </tr>
        <tr>
            <td>
                5pm
            </td>
        </tr>
        <tr>
            <td>
                6pm
            </td>
        </tr>
        <tr>
            <td>
                7pm
            </td>
        </tr>
        <tr>
            <td>
                8pm
            </td>
        </tr>
        <tr>
            <td>
                9pm
            </td>
        </tr>
        <tr>
            <td>
                10pm
            </td>
        </tr>
        <tr>
            <td>
                11pm
            </td>
        </tr>
    </table>
    <div class="day_view">
       <div class="day">
            {{ day }}
       </div>

    </div>

{% endblock %}