{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="card-group">
        {% if cafe_results %}
            {% for cafe in cafe_results %}
                <div class="card">
                    <img src="{{ cafe.img_url }}" class="card-img-top" alt="An image representing {{ cafe.name }}">
                    {% if (cafe.name ~ "'s Website")|length >= 35 %}
                        <div class="chain_indicator_smaller">
                            <button type="button" class="btn disabled">
                                {{ cafe.is_chain|check_if_chain}}
                            </button>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title">{{ cafe.name }}</h3> 
                        <h4 class="{{ 'longer_name' if cafe.name|length >= 12 and cafe_results|length % 3 != 0 else '' }}">{{ cafe.location }}</h4>
                        
                        <!-- String concatenation suggested by CoPilot -->
                        {% if (cafe.name ~ "'s Website")|length < 35 %}
                            <div class="chain_indicator">
                                <button type="button" class="btn disabled">
                                    {{ cafe.is_chain|check_if_chain}}
                                </button>
                            </div>
                        {% endif %}

                        <div class="card-text">
                            <a href="{{ cafe.website }}">{{ cafe.name }}'s Website</a>
                        
                            <table>
                                <tr>
                                    <td>
                                        <b>Price:</b> 

                                        <div class="first_row_a">
                                            {% if cafe.price == 0 %}
                                                {% for _ in range(5) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/price-off.svg')}}" class="indicator_icons">
                                                {% endfor %}
                                            {% elif cafe.price  == 1 %}
                                                <img src="{{ url_for('static', filename='assets/svg/price.svg')}}" class="indicator_icons">
                                                {% for _ in range(4) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/price-off.svg')}}" class="indicator_icons">
                                                {% endfor %}
                                            {% elif cafe.price == 2 %}
                                                {% for _ in range(2) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/price.svg')}}" class="indicator_icons">
                                                {% endfor %}
                                                {% for _ in range(3) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/price-off.svg')}}" class="indicator_icons">
                                                {% endfor %}
                                            {% elif cafe.price == 3 %}
                                                {% for _ in range(3) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/price.svg')}}" class="indicator_icons">
                                                {% endfor %}
                                                {% for _ in range(2) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/price-off.svg')}}" class="indicator_icons">
                                                {% endfor %}
                                            {% elif cafe.price == 4 %}
                                                {% for _ in range(4) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/price.svg')}}" class="indicator_icons">
                                                {% endfor %}
                                                <img src="{{ url_for('static', filename='assets/svg/price-off.svg')}}" class="indicator_icons">
                                            {% elif cafe.price == 5 %}
                                                {% for _ in range(5) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/price.svg')}}" class="indicator_icons">
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="right">
                                        <b>Has Wifi:</b> 
                                        <div class="adjusted_icons_2">
                                            {% if cafe.has_wifi == 0 %}
                                                <img src="{{ url_for('static', filename='assets/svg/wifi-off.svg')}}" class="indicator_icons" alt="None">
                                            {% elif cafe.has_wifi  == 1 or cafe.has_wifi == 2 %}
                                                <img src="{{ url_for('static', filename='assets/svg/wifi-1.svg')}}" class="indicator_icons" alt="Weak">
                                            {% elif cafe.has_wifi  == 3 or cafe.has_wifi == 4 %}
                                                <img src="{{ url_for('static', filename='assets/svg/wifi-3.svg')}}" class="indicator_icons" alt="Moderate">
                                            {% elif cafe.has_wifi == 5 %}
                                                <img src="{{ url_for('static', filename='assets/svg/wifi.svg')}}" class="indicator_icons" alt="Strong">
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Seating:</b> 

                                        <div class="second_row_a">
                                            {% if cafe.seats == 0 %}
                                                {% for _ in range(5) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/chair-off.svg')}}" class="indicator_icons" alt="No seating">
                                                {% endfor %}
                                            {% elif cafe.seats  == 1 %}
                                                <img src="{{ url_for('static', filename='assets/svg/chair.svg')}}" class="indicator_icons" alt="Minimum seating">
                                                {% for _ in range(4) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/chair-off.svg')}}" class="indicator_icons" alt="Minimum seating">
                                                {% endfor %}
                                            {% elif cafe.seats == 2 %}
                                                {% for _ in range(2) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/chair.svg')}}" class="indicator_icons" alt="Minimum seating">
                                                {% endfor %}
                                                {% for _ in range(3) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/chair-off.svg')}}" class="indicator_icons" alt="Minimum seating">
                                                {% endfor %}
                                            {% elif cafe.seats == 3 %}
                                                {% for _ in range(3) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/chair.svg')}}" class="indicator_icons" alt="Moderate seating">
                                                {% endfor %}
                                                {% for _ in range(2) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/chair-off.svg')}}" class="indicator_icons" alt="Moderate seating">
                                                {% endfor %}
                                            {% elif cafe.seats == 4 %}
                                                {% for _ in range(4) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/chair.svg')}}" class="indicator_icons" alt="Ample seating">
                                                {% endfor %}
                                                <img src="{{ url_for('static', filename='assets/svg/chair-off.svg')}}" class="indicator_icons" alt="Ample seating">
                                            {% elif cafe.seats == 5 %}
                                                {% for _ in range(5) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/chair.svg')}}" class="indicator_icons" alt="Ample seating">
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="right">
                                        <b>Can Take Calls:</b> 
                            
                                        <div class="adjusted_icons">
                                            {% if cafe.can_take_calls == 0 %}
                                                <img src="{{ url_for('static', filename='assets/svg/no-phone.svg')}}" class="indicator_icons" alt="No Calls">
                                            {% elif cafe.can_take_calls > 0 %}
                                                <img src="{{ url_for('static', filename='assets/svg/phone.svg')}}" class="indicator_icons" alt="Calls OK">
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Toilet Access:</b> 

                                        <div class="third_row_a">
                                            {% if cafe.has_toilet == 0 %}
                                                {% for _ in range(5) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/toilet-off.svg')}}" class="indicator_icons" alt="No Bathroom">
                                                {% endfor %}
                                            {% elif cafe.has_toilet  == 1 %}
                                                <img src="{{ url_for('static', filename='assets/svg/toilet.svg')}}" class="indicator_icons" alt="Minimum bathrooms">
                                                {% for _ in range(4) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/toilet-off.svg')}}" class="indicator_icons" alt="Minimum bathrooms">
                                                {% endfor %}
                                            {% elif cafe.has_toilet == 2 %}
                                                {% for _ in range(2) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/toilet.svg')}}" class="indicator_icons" alt="Minimum bathrooms">
                                                {% endfor %}
                                                {% for _ in range(3) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/toilet-off.svg')}}" class="indicator_icons" alt="Minimum bathrooms">
                                                {% endfor %}
                                            {% elif cafe.has_toilet == 3 %}
                                                {% for _ in range(3) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/toilet.svg')}}" class="indicator_icons" alt="Moderate bathrooms">
                                                {% endfor %}
                                                {% for _ in range(2) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/toilet-off.svg')}}" class="indicator_icons" alt="Moderate bathrooms">
                                                {% endfor %}
                                            {% elif cafe.has_toilet == 4 %}
                                                {% for _ in range(4) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/toilet.svg')}}" class="indicator_icons" alt="Ample bathrooms">
                                                {% endfor %}
                                                    <img src="{{ url_for('static', filename='assets/svg/toilet-off.svg')}}" class="indicator_icons" alt="Ample bathrooms">
                                            {% elif cafe.has_toilet == 5 %}
                                                {% for _ in range(5) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/toilet.svg')}}" class="indicator_icons" alt="Ample bathrooms">
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="right">
                                        <b>Charging:</b> 

                                        <div class="third_row_b">
                                            {% if cafe.socket_availability == 0 %}
                                                {% for _ in range(5) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/wall-plug-off.svg')}}" class="indicator_icons" alt="No sockets">
                                                {% endfor %}
                                            {% elif cafe.socket_availability  == 1 %}
                                                <img src="{{ url_for('static', filename='assets/svg/wall-plug.svg')}}" class="indicator_icons" alt="Minimal sockets">
                                                {% for _ in range(4) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/wall-plug-off.svg')}}" class="indicator_icons" alt="Minimal sockets">
                                                {% endfor %}
                                            {% elif cafe.socket_availability == 2 %}
                                                {% for _ in range(2) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/wall-plug.svg')}}" class="indicator_icons" alt="Minimal sockets">
                                                {% endfor %}
                                                {% for _ in range(3) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/wall-plug-off.svg')}}" class="indicator_icons" alt="Minimal sockets">
                                                {% endfor %}
                                            {% elif cafe.socket_availability == 3 %}
                                                {% for _ in range(3) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/wall-plug.svg')}}" class="indicator_icons" alt="Moderate sockets">
                                                {% endfor %}
                                                {% for _ in range(2) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/wall-plug-off.svg')}}" class="indicator_icons" alt="Moderate sockets">
                                                {% endfor %}
                                            {% elif cafe.socket_availability == 4 %}
                                                {% for _ in range(4) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/wall-plug.svg')}}" class="indicator_icons" alt="Ample sockets">
                                                {% endfor %}
                                                    <img src="{{ url_for('static', filename='assets/svg/wall-plug-off.svg')}}" class="indicator_icons" alt="Ample sockets">
                                            {% elif cafe.socket_availability == 5 %}
                                                {% for _ in range(5) %}
                                                    <img src="{{ url_for('static', filename='assets/svg/wall-plug.svg')}}" class="indicator_icons" alt="Ample sockets">
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                           
                            <div class="description">
                                {{ cafe.description }}
                            </div>
                            
                            <div class="button-container">
                                <a href="{{ cafe.map_url }}">
                                    <button type="button" class="btn directions">
                                        Directions
                                    </button>
                                </a>

                                <div class="divider"></div>
                                
                                <a href="{{ url_for('edit', workspace_id=cafe.workspace_id) }}">
                                    <button type="button" class="btn edit">
                                        Edit
                                    </button>
                                </a>
                            </div>
                            <h6>
                                Last updated {{ cafe.last_modified|str_to_datetime("%x") }}
                            </h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <a href="{{ url_for('add') }}">
            <img src="{{ url_for('static', filename='assets/svg/plus.svg')}}" class="add" alt="Add a Cafe">
        </a>
    </div>
{% endblock %}