:root {
    --forest_green: #397367;
    --robin_egg_blue: #5DA399;
    --keppel: #5DA399;
    --dark_cyan: #428c82;
    --onyx: #35393C;
}

body {
    padding-top: 20vh;
    background-color: var(--forest_green);
}
    .container-lg {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--keppel);
        width: 80%;
        min-height: 60vh;
        border-radius: 25px;
    }

h1 {
    font-weight: 700;
    padding-top: 5vh;
    color: var(--forest_green);
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: var(--onyx);
}
    
    input[type="file"]::file-selector-button, input[type="submit"] {
        border: 1px solid var(--keppel);
        background: var(--forest_green);
        color: var(--keppel);
        border-radius: 20px;
        padding: 8px 10px;
        text-align: center;

    }

    input[type="file"]::file-selector-button:hover, input[type="submit"]:hover {
    background-color: var(--dark_cyan);
    color: var(--onyx);
    cursor: pointer;
}


#file-upload {
    position: relative;
}

/* Color Codes */
/* Card Flip CSS suggested by @tjegan */

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
    width: 75%;
    height: 50%;
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.color-container {
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    margin-bottom: 15vh;
    transform: translateY(5%);

}

    .color-container.flip .flip-card {
        transform: rotateY(180deg);
    }

    .flip-card {
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.75s;
        
    }

    /* Card styles */
    .side {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

        .side.a, .side.b {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 150px;
            height: 8vh;
            margin-bottom: 5vh;
            border: 1px solid var(--dark_cyan);
            padding: 25px 25px 20px 50px;
        }

        .side.a {
            z-index: 2;
            transform: rotateY(0deg);
        }

        .side.b {
            transform: rotateY(180deg);
        }

        .side.b p {
            display: inline;
            
        }

table {

    padding-bottom: 2vh;

    border-spacing: 1vw;
}

    td {
        border: 1px solid var(--dark_cyan);
        
    }


