:root {
    --forest_green: #397367;
    --robin_egg_blue: #5DA399;
    --keppel: #5DA399;
    --dark_cyan: #428c82;
    --onyx: #35393C;
}

body {
    padding-top: 20vh;
    background-color: var(--forest_green);
}
    .container-lg {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--keppel);
        width: 80%;
        height: 60vh;
        border-radius: 25px;
    }

h1 {
    font-weight: 700;
    padding-top: 5vh;
    color: var(--forest_green);
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 2vh;
    color: var(--onyx);
}

    input[type="file"] {
        position: absolute;
        left: -999999rem;
    }

    .custom-upload-button, input[type="submit"] {
        background-color: var(--forest_green);
        color: var(--keppel);
        border: 1px solid var(--keppel);
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 20px;
    }

    .custom-upload-button:hover, input[type="submit"]:hover {
        background-color: var(--dark_cyan);
        color: var(--onyx);
    }

/* Color Codes */
/* Card Flip CSS suggested by @tjegan */

.cards-wrapper {
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
    width: 75%;
    height: 60%;
    margin: 0 auto;

}

.color-container {
    margin: 0 auto;
    height: 10%;
    border: 1px solid var(--dark_cyan);
    padding: 20px 90px 70px 70px;
}
    .color-container.flip .flip-card {
        transform: rotateY(180deg);
    }

    .flip-card {
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.75s;
    }

    /* Card styles */
    .side {
        backface-visibility: hidden;
        position:absolute;
        top: 0;
        left: 0;
    }

        .side.a, .side.b {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 20%;
            height: 8vh;
        }

        .side.a {
            z-index: 2;
            transform: rotateY(0deg);
        }

        .side.b {
            transform: rotateY(180deg);
        }

table {

    padding-bottom: 2vh;

    border-spacing: 1vw;
}

    td {
        border: 1px solid var(--dark_cyan);
        
    }


