nav {
  display: flex;
  justify-content: space-between;
}

nav div {
  height: 10%;
  width: 25%;
  display: flex;
  gap: 8%;
  justify-content: center;
  padding: 0;
}

img {
  width: 100%;
  height: 75%;
}

#page-links a, #view-cart a {
  padding-top: 4vh;
  height: 20%;
  color: #000000;
  text-decoration: none;
}

#heading {
  width: 100%;
  text-align: center;
}

#heading h1 {
  font-size: 3rem;
}

  #price {
    font-size: 2.25rem;
    font-weight: 500;
  }

  #heading h4 {
    font-size: 2rem;
  }

  #heading h1, #heading h4 {
    font-weight: 400;
    margin-top: 0;
  }

  h1 {
    font-weight: 600;
  }

h1 h4 {
  color: #000000;
}

  h5 {
    font-weight: 300;
    font-size: 1rem;
  }

  #info {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

#products {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#product-name {
  color: rgb(156, 156, 156);
  font-weight: 600;
}

  #product-price {
    font-weight: 600;
    font-size: 1.5rem;
  }

#product-img {
  background-color: rgb(238, 236, 236);
}

  #product-img-cont {
    width: 35%;
    height: 70%;
    padding: 2% 2% 0 5%;
  }

#product-card {
  width: 25%;
  text-align: center;
}

#view-product-cont {
  display: flex;
}

 #name-and-description {
  width: 70%;
 }

 #description h5 {
  font-style: "DM Sans", sans-serif;
 }

 /* Cart */
 #cart-cont {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-left: 5%;
  position: relative;
}

  #cart-view {
    display: flex;
  }

 #city {
  width: 50%;
 }

 #payment-buttons {
  display: grid;
  justify-content: space-between;
 }

  #agree {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 2%;
    width: 150%;
  }

  #agree p {
    display: inline;
    margin: 5% 2%;
  }

  #cart-form-cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2px;
  }

  #cart-form-a {
    width: 50%;
  }

  #cart-form-b {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }

/* Product box list  */

#cart-item-list, #cart-item-details, #price-and-control {
  display: flex;
}

  #price-and-control {
    margin-top: 0;
  }

#cart-item-image {
  padding-top: 3%;
  width: 25%;
  height: 250%;
}

  #cart-item-info {
    padding-left: 0;
  }

  #cart-item-details {
    gap: 50px;
    margin-top: 0;
  }

  #price-and-control {
    gap: 250px;
    top: 0;
  }

    #cart-item-details h3, #price-and-control h3 {
      font-weight: 600;
    }

  #collection-name, #article-name {
    font-weight: 400;
  }

    #article-name, #item-size {
      margin-bottom: 0;
    }

    #delete-item {
      color: rgb(151, 151, 151);
    }

  table {
    width: 50%;
  }


  #promo-code {
    display: flex;
    align-items: center;
    gap: 100px;
  }

    #promo-code input {
      flex: 1;
    }

    #promo-code button {
      flex-shrink: 0;
    }

  #line-item-prices td {
    margin-right: 500px;
  }


/* Order Page */

#order-page-container {
  padding-left: 5%;
}

  #card-container {
    width: 25%;
    background-color: gainsboro;
  }

  #card-container img {
    padding-top: 5%;
  }

  #card-container div {
    padding-left: 5%;
    padding-right: 5%;
  }

#card-info, #card-benefit-info {
  display: flex;
  gap: 45%;
}
  #card-info h3 {
    font-weight: 300;
  }

    #points-earned {
      padding-left: 5%;
    }

  #card-benefit-info h5 {
    margin-top: 0%;
    color: gray;
  }

  #benefit-percentage {
    padding-left: 30%;
  }

#promo-codes {
  display: flex;
}

#summary-cont {
  width: 100%;
  margin-bottom: 10%;
}


#summary-cont #first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

  #first div {
    display: flex;
    justify-content: space-between;
  }

#summary-cont .second {
  display: flex;
  justify-content: space-between;
  width: 100%;
}