{% extends 'base.html' %}

{% block title %}
    {% if name %}
        {{ name }}'s Final Report
    {% else %}
        Pet's Final Report
    {% endif %}
{% endblock %}

{% block content %}

<div class="container-lg">
    <div class="report_wrapper">
        <div class="report_title">
            {% if pet_data[0].name %}
                <h1><b>{{ pet_data[0].name }}'s Final Report</b></h1>
            {% else %}
                <h1><b>Pet's Final Report</b></h1>
            {% endif %}
        </div>
        <!-- SVGs for dogs and cats credit to WallArtBox on Etsy -->
        <!-- https://www.etsy.com/shop/wallartbox -->
        {% if pet_data[0].species == "Canine" %}
            <div class="report_img_k9">
                <img src="\static\assets\svg\dogs\0_Japanese_Chin_peeking_dog-4.svg" class="pet_pic">
            </div>
            <div class="k9_line"></div>
        {% elif pet_data[0].species == "Feline" %}
            <div class="report_img_fel">
                <img src="\static\assets\svg\dogs\0_Japanese_Chin_peeking_dog-4.svg" class="pet_pic">
            </div>
            <div class="fel_line"></div>
        {% endif %}
        
    </div>
    <div class="data">
        <!-- Return pet's signalment -->
        {{ pet_data[0].name }} is a   
               
        {% if pet_data[0].age_in_months != 0 and pet_data[0].age_in_years > 1 %}
            {{ pet_data[0].age_in_years }} years and {{ pet_data[0].age_in_months }} months old
        {% elif pet_data[0].age_in_months != 0 and pet_data[0].age_in_years == 1 %}
            {{ pet_data[0].age_in_years }} year and {{ pet_data[0].age_in_months }} months old
        {% elif pet_data[0].age_in_months == 0 and pet_data[0].age_in_years == 1 %}
            {{ pet_data[0].age_in_years }} year and {{ pet_data[0].age_in_months }} month old
        {% else %}
            {{ pet_data[0].age_in_years }} year old
        {% endif %}

        {% if pet_data[0].sex == "female_spayed" %}
            spayed female
        {% elif pet_data[0].sex == "female" %}
            intact female
        {% elif pet_data[0].sex == "male_neutered" %}
            neutered male
        {% elif pet_data[0].sex == "male" %}
            intact male
        {% endif %}

        {{ pet_data[0].breed }} ({{ pet_data[0].species }}). 
        {% if pet_data[0].sex == "female" %}
            <!-- If pet is an intact female -->
            {{ pet_data[0].name }} is 
            {% if pet_data[0].is_pregnant == "y" %}
                <!-- And is pregnant -->
                {% if pet_data[0].species == "Canine" %}
                    <!-- If pet is pregnant, female, and canine, inform user of gestation length -->
                    currently pregnant and is in her 
                    {% if pet_data[0].weeks_gestating > 0 and pet_data[0].weeks_gestating != None %}
                    <!-- Accounts for the first week of gestation --> 
                    {% if pet_data[0].weeks_gestating == 1 %}   
                        {{ pet_data[0].weeks_gestating }}st week of pregnancy (within the first 42 days).
                    <!-- Accounts for the second week of gestation --> 
                    {% elif pet_data[0].weeks_gestating == 2 %}   
                        {{ pet_data[0].weeks_gestating }}nd week of pregnancy (within the first 42 days).
                    <!-- Accounts for the third week of gestation --> 
                    {% elif pet_data[0].weeks_gestating == 3 %}   
                        {{ pet_data[0].weeks_gestating }}rd week of pregnancy (within the first 42 days).
                    <!-- Accounts for the 4th-6th week of gestation --> 
                    {% elif pet_data[0].weeks_gestating >= 3 and pet_data[0].weeks_gestating < 6 %}   
                        {{ pet_data[0].weeks_gestating }}th week of pregnancy (within the first 42 days).
                    {% elif pet_data[0].weeks_gestating >= 6%}   
                        {{ pet_data[0].weeks_gestating }}th week of pregnancy (within the last 21 days).
                    {% endif %}
                {% endif %}
            {% endif %}
            {% elif pet_data[0].is_pregnant == "n" %}
                is not currently pregnant
            {% endif %}
            {% if pet_data[0].is_nursing == "y" %}
                <!-- If pet is a nursing female -->
                but is actively nursing a litter of
                {% if pet_data[0].litter_size != None %}
                    {{ pet_data[0].litter_size }}
                    <!-- Return litter size and species -->
                    {% if pet_data[0].species == "Canine" %}
                        puppies.
                    {% elif pet_data[0].species == "Feline" %}
                        kittens.
                    {% endif %}
                {% endif %}
            {% elif pet_data[0].is_nursing == "n" %}
                and is not currently nursing a litter.
            {% endif %}
        {% endif %}

        <!-- Give RER and DER information -->
        {{ pet_data[0].name }}'s Resting Energy Rate (RER) was calculated to be 
        {{ rer }} kcal. As a reminder, this is the minimum amount 
        {{ pet_data[0].name }} needs at rest (i.e. if {{ subject_pronoun }} is 
        hospitalized and requires crate rest or if {{ subject_pronoun }} lays 
        around the house at all times). Based on {{ pet_data[0].name }}'s current 
        life stage, {{ subject_pronoun }} requires {{ der }} kcal per day. The 
        following formula was used: 
    </div>

    <!-- Return the formula used to calculate DER -->
    <div class="final_formula">

        {% if pet_data[0].species == "Feline" and pet_data[0].is_nursing == "y" %}
            DER = {{ pet_data[0].name }}'s {{ notes }}
            <br>
            DER = {{ rer }} + ({{ pet_data[0].der_modifier }} * {{ pet_data[0].litter_size }})
        {% else %}
            DER = {{ pet_data[0].name }}'s RER x DER Modifier
            <br>
            DER = {{ rer }} x {{ pet_data[0].der_modifier }} 
            
            <!-- Return any notes regarding life stage -->
            {% if notes != None %}
                ({{ life_stage|trim }}, {{ notes }})
            {% else %}
                ({{ life_stage|trim }})
            {% endif %}
        {% endif %}
        
        
    

    </div>
    <div class="food_and_exercise">
        <!-- Return amount to feed per day and per meal  --> 
        {{ pet_data[0].name }} should be getting around
        {% if pet_data[0].meals_per_day != 1 %}
            {{ pet_data[0].current_food_amt_rec }} (or approximately 
            {{ pet_data[0].current_food_amt_per_meal }} per meal over {{ meals_per_day }}
            meals).
        {% else %}
            {{ pet_data[0].current_food_amt_rec }}.
        {% endif %}

        {% if pet_data[0].species == "Canine" %}
            {% if pet_data[0].activity_level != None and pet_data[0].activity_level != "Moderate Activity" and pet_data[0].activity_level != "Heavy Activity" %}
                <!-- If dog has activity level data and is not already getting moderate to heavy exercise --> 
                All pets can benefit from physical and mental excersize!
            {% endif %}
        {% elif pet_data[0].species == "Feline" %}
            {% if pet_data[0].is_nursing == "y" %}
                <!-- If pet is a nursing feline, provide feeding guidelines -->

                In order to meet the higher energy demands of nursing, {{ pet_data[0].name }} 
                should be fed a highly digestible, high quality kitten formula from a brand 
                that meets the 

                <a href="https://wsava.org/global-guidelines/global-nutrition-guidelines/" title="View World Small Animal Veterinary Association Guidelines">
                    WSAVA guidelines</a>.

                {% if pet_data[0].weeks_nursing <= 4 and pet_data[0].litter_size <= 2 %}
                    <!-- If within the first 3-4 weeks of nursing with 1-2 kittens -->
                    It is recommended to feed {{ pet_data[0].name }} several 
                    times a day.
                {% elif pet_data[0].weeks_nursing <= 4 and pet_data[0].litter_size > 2 %}
                    <!-- If within the first 3-4 weeks of nursing -->
                    It is recommended to feed {{ pet_data[0].name }} several 
                    times a day or provide food freely for the first 3 to 4 
                    weeks after giving birth.
                {% endif %}
            {% elif pet_data[0].is_pregnant == "y" %}
                In order to meet the higher energy demands of pregnancy, {{ pet_data[0].name }} 
                should be fed a highly digestible, high quality kitten formula from a brand that meets the 
                <a href="https://wsava.org/global-guidelines/global-nutrition-guidelines/" title="View World Small Animal Veterinary Association Guidelines">
                    WSAVA guidelines</a>. To encourage adequate food intake, it is recommended to
                feed {{ pet_data[0].name }} several small meals per day.
            {% endif %}

           <!-- Recommend enrichment and exercise resources for all cats -->  
           All pets can benefit from physical and mental excersize!
           <img src="{{ url_for('static', filename='assets/img/fel_puzzle_toy.png') }}" 
           alt="three puzzle feeders for cats that are shaped like mice." class="puzzle_feeder">
           
        {% endif %}
    </div>

    <!-- Go back --> 
    <div class="button-container">
         <a href="{{ url_for('der') }}">
            <button type="button" class="btn btn-secondary btn-lg">Go to Part 6: Pet's DER</button>
        </a>

        <!-- Divider solution suggested by Michael Allen on Stack Overflow -->
        <div class="divider"></div>
        
        <!-- TODO: Make a "Print Report" button --> 
    </div>
</div>

{% endblock %}