{% from "bootstrap5/form.html" import render_form %}

{% extends 'base.html' %}

{% block title %}Part 4: Confirm Pet Info{% endblock %}

{% block content %}

<div class="container-lg">
    <h1><b>Part 4: Confirm Pet Info</b></h1>

    <!-- Progress bar -->
    <div class="progress" role="progressbar" aria-label="bar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 50%">50%</div>
      </div>

    
    <!-- Load in WTF Form --> 
    <form action="{{ url_for('confirm_data') }}" method="POST" >

        <div class="row">
            
        </div>
    
        <div class="button-container">
            {% if species == "feline" %}
                <a href="{{ url_for('pet_condition') }}">
                    <button type="button" class="btn btn-secondary btn-lg">Go to Part 2: Weight and Body Condition</button>
                </a>
            {% elif species == "canine" %}
                <a href="{{ url_for('activity') }}">
                    <button type="button" class="btn btn-secondary btn-lg">Go to Part 2.5: Activity Level</button>
                </a>
            {% endif %}

            <!-- Divider solution suggested by Michael Allen on Slack -->
            <div class="divider"></div>

            <button type="submit" class="btn btn-secondary btn-lg">Go to Part 3: Current Food</button>
        </div>
    </form>
</div>

{% endblock %}