{% extends 'base.html' %}

{% block title %}Part 6: Pet's DER{% endblock %}
0
{% block content %}

<div class="container-lg">
    <h1><b>Part 6: Pet's DER</b></h1>

    <!-- Progress bar -->
    <div class="progress" role="progressbar" aria-label="bar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 100%">100%</div>
    </div>

    <!-- Load in calcuated DER --> 
    <div class="row">
        {{ name }}'s Daily Energy Requirement (DER) is
        {% if der_low_end != der_high_end %}
            bewteen {{ der_low_end }} and 
            {{ der_high_end }} 
        {% else %}
            {{ der_low_end }} 
        {% endif %}
        kcalories per day. This is {{ daily_amount_to_feed }} per day

        {% if mutliple_meals == True %}
            or about {{ total_amount_per_meal }} per meal
        {% endif %}
        of {{ object_pronoun }} current diet.
        The following formula was used: 
        <div class="formula">
            DER = {{ rer }} x {{ der_modifier }}
            <br>
            DER = {{ name }}'s RER x DER Modifier
        </div>
    </div>
    <div class="button-container">
        <a href="{{ url_for('rer') }}">
            <button type="button" class="btn btn-secondary btn-lg">Go Back To Part 4: Pet's RER</button>
        </a>

        <!-- Divider solution suggested by Michael Allen on Stack Overflow -->
        
        <div class="divider"></div>
        <a href="{{ url_for('completed_report') }}">
            <button type="submit" class="btn btn-secondary btn-lg">Go to Final Report</button>
        </a>
    </div>
    

</div>
{% endblock %}