
{% extends 'base.html' %}

{% block title %}Edit Pet Report{% endblock %}

{% block content %}

<div class="container-lg">
    <h1>Edit Pet Report</h1>
    
    <table class="table table-sm">
        <thead>
            <tr>
                <th>
                    <b>
                        Pet Name
                    </b>
                </th>
                <th>
                    <b>
                        Age
                    </b>
                </th>
                <th>
                    <b>
                        Species
                    </b>
                </th>
                <th>
                    <b>
                        Breed
                    </b>
                </th>
                <th>
                    <b>
                        Sex
                    </b>
                </th>
                <th>
                    <b>
                        Body Condition Score
                    </b>
                </th>
                <th>
                    <b>
                        Weight
                    </b>
                </th>
                {% if pet_data[0].activity_level != None %}
                    <th>
                        <b>
                            Activity Level
                        </b>
                    </th>
                {% endif %}  
                {% if pet_data[0].is_pregnant != None %}
                    <th>
                        <b>
                            Is {{ pet_data[0].name}} Pregnant?
                        </b>
                    </th>
                {% endif %}  
                {% if pet_data[0].weeks_gestating != None and pet_data[0].weeks_gestating != 0 %}
                    <th>
                        <b>
                            {{ pet_data[0].name}}'s Gestation Length
                        </b>
                    </th>
                {% endif %}  
                {% if pet_data[0].is_nursing == "y" %}
                    <th>
                        <b>
                            Is {{ pet_data[0].name }} Nursing?
                        </b>
                    </th>
                {% endif %}  
                {% if pet_data[0].litter_size != None %}
                    <th>
                        <b>
                            Current Litter Size
                        </b>
                    </th>
                {% endif %}  
                {% if pet_data[0].weeks_nursing != None %}
                    <th>
                        <b>
                            Weeks Nursing
                        </b>
                    </th>
                {% endif %}    
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ pet_data[0].name }}
                    
                    <a href="{{ url_for('pet_info', pet_id=pet_id) }}">
                        <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                    </a>
                </td>
                <td>
                    {% if pet_data[0].age_in_years == 0 and pet_data[0].age_in_months == 1 %}
                        {{ pet_data[0].age_in_months }} month old
                    {% elif pet_data[0].age_in_years == 0 and pet_data[0].age_in_months > 1 %}
                        {{ pet_data[0].age_in_months }} months old
                    {% elif pet_data[0].age_in_years == 1 and pet_data[0].age_in_months == 0 %}
                        {{ pet_data[0].age_in_years }} year old
                    {% elif pet_data[0].age_in_years == 1 and pet_data[0].age_in_months == 1 %}
                        {{ pet_data[0].age_in_years }} year {{ pet_data[0].age_in_months }} month old
                    {% elif pet_data[0].age_in_years == 1 and pet_data[0].age_in_months > 1 %}
                        {{ pet_data[0].age_in_years }} year {{ pet_data[0].age_in_months }} months old
                    {% elif pet_data[0].age_in_years > 1 and pet_data[0].age_in_months == 0 %}
                        {{ pet_data[0].age_in_years }} years old
                    {% elif pet_data[0].age_in_years > 1 and pet_data[0].age_in_months == 1 %}
                        {{ pet_data[0].age_in_years }} years {{ pet_data[0].age_in_months }} month old
                    {% elif pet_data[0].age_in_years > 1 and pet_data[0].age_in_months > 1 %}
                        {{ pet_data[0].age_in_years }} years {{ pet_data[0].age_in_months }} months old
                    {% endif %}
                    <a href="{{ url_for('pet_info_continued', pet_id=pet_id) }}">
                        <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                    </a>
                </td>
                <td>
                    {{ pet_data[0].species }}

                    <a href="{{ url_for('pet_info', pet_id=pet_id) }}">
                        <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                    </a>
                </td>
                <td>
                    {{ pet_data[0].breed }}

                    <a href="{{ url_for('pet_info_continued', pet_id=pet_id) }}">
                        <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                    </a>
                </td>
                <td>
                    {% if pet_data[0].sex == 1 %}
                        Female (Intact)
                    {% elif pet_data[0].sex == 2 %}
                        Female (Spayed)
                    {% elif pet_data[0].sex == 3 %}
                        Male (Intact)
                    {% elif pet_data[0].sex == 4 %}
                        Male (Neutered)
                    {% endif %}

                    <a href="{{ url_for('pet_info_continued', pet_id=pet_id) }}">
                        <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                    </a>
                </td>
                <td>
                    {{ pet_data[0].bcs }}/9

                    <a href="{{ url_for('pet_condition', pet_id=pet_id) }}">
                        <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                    </a>
                </td>
                <td>
                    {{ pet_data[0].weight }} {{ pet_data[0].units }} 
                    ({{ pet_data[0].converted_weight }} {{ pet_data[0].converted_weight_units }})

                    <a href="{{ url_for('pet_condition', pet_id=pet_id) }}">
                        <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                    </a>
                </td>
                {% if pet_data[0].activity_level != None %}
                    <td>
                        {% if pet_data[0].activity_level == 1 %}
                            Sedentary
                        {% elif pet_data[0].activity_level == 2 %}
                            Low
                        {% elif pet_data[0].activity_level == 3 %}
                            Moderate
                        {% elif pet_data[0].activity_level == 4 %}
                            Heavy
                        {% endif %}

                        <a href="{{ url_for('activity', pet_id=pet_id) }}">
                            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                        </a>
                    </td>
                {% endif %}
                {% if pet_data[0].is_pregnant == "y" %}
                    <td>
                        Yes
                        <a href="{{ url_for('repro_status', pet_id=pet_id) }}">
                            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                        </a>
                    </td>
                {% elif pet_data[0].is_pregnant == "n" %}
                    <td>
                        No
                        <a href="{{ url_for('repro_status', pet_id=pet_id) }}">
                            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                        </a>
                    </td>
                {% endif %}  
                {% if pet_data[0].weeks_gestating != None and pet_data[0].weeks_gestating != 0 %}
                    <td>
                        {{ pet_data[0].weeks_gestating }} weeks

                        <a href="{{ url_for('gestation_duration', pet_id=pet_id) }}">
                            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                        </a>
                    </td>
                {% endif %}  
                {% if pet_data[0].is_nursing != None and pet_data[0].is_nursing == "y" %}
                    <td>
                        Yes

                        <a href="{{ url_for('lactation_status', pet_id=pet_id) }}">
                            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                        </a>
                    </td>
                {% elif pet_data[0].is_nursing != None and pet_data[0].is_nursing == "n" %}
                    <td>
                        No

                        <a href="{{ url_for('lactation_status', pet_id=pet_id) }}">
                            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                        </a>
                    </td>
                {% endif %}  
                {% if pet_data[0].litter_size != None %}
                    <td>
                        {{ pet_data[0].litter_size }} 
                        {% if pet_data[0].species == "Canine" %}
                            puppies
                        {% elif pet_data[0].species == "Feline" %}
                            kittens
                        {% endif %}
                        <a href="{{ url_for('litter_size', pet_id=pet_id) }}">
                            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                        </a>
                    </td>
                {% endif %}  
                {% if pet_data[0].weeks_nursing != None %}
                    <td>
                        {{ pet_data[0].weeks_nursing }}

                        <a href="{{ url_for('lactation_duration', pet_id=pet_id) }}">
                            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                        </a>
                    </td>
                {% endif %}    
            </tr>
        </tbody>
    </table>

    <div class="row">
        <h2>
            {% if pet_data[0].species == "Feline" %}
                <img src="{{ url_for('static', filename='assets/svg/food_bowl.svg') }}" alt="A bowl with a pawprint" class="bowl">
            {% elif pet_data[0].species == "Canine" %}
                <img src="{{ url_for('static', filename='assets/svg/dog_food_bowl.svg') }}" alt="A bowl with a bone" class="bowl">
            {% endif %}

            Feeding Information
            {% if pet_data[0].species == "Feline" %}
                <img src="{{ url_for('static', filename='assets/svg/food_bowl.svg') }}" alt="A bowl with a pawprint" class="bowl">
            {% elif pet_data[0].species == "Canine" %}
                <img src="{{ url_for('static', filename='assets/svg/dog_food_bowl.svg') }}" alt="A bowl with a bone" class="bowl">
            {% endif %}
        </h2>
    </div>

    <table class="table table-sm">
        <thead>
            <tr>
                <th>
                    {{ pet_data[0].name }}'s Resting Energy Rate
                </th>
                <th>
                    {{ pet_data[0].name }}'s Daily Energy Requirement
                </th>
                <th>
                    {{ pet_data[0].name }}'s DER Modifier
                </th>
                <th>
                    Current Food Caloric Density
                </th>
                <th>
                    Recommended Feeding Amounts
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ pet_data[0].rer }} kcal/day
                </td>
                <td>
                    {{ pet_data[0].der }} kcal/day
                </td>
                <td>
                    {{ pet_data[0].der_modifier }}
                </td>
                <td>
                    {{ pet_data[0].current_food_kcal }}/{{ pet_data[0].current_food_form }}
                </td>
                <td>
                    {{ pet_data[0].current_food_amt_rec }} ({{ pet_data[0].current_food_amt_per_meal }} per meal)
                </td>
            </tr>
        </tbody>
    </table>

    {% if pet_data[0].is_pediatric == "n" and pet_data[0].is_pregnant != "y" and pet_data[0].is_nursing != "y" %}
        <div class="button-container">
            <a href="{{ url_for('current_food', pet_id=pet_id) }}">
                <button type="button" class="btn btn-secondary btn-lg">Recalculate Food for {{ pet_data[0].name }}</button>
            </a>    
        </div>
    {% elif pet_data[0].is_pregnant == "y" %}
        <div class="button-container">
            <a href="{{ url_for('repro_status', pet_id=pet_id) }}">
                <button type="button" class="btn btn-secondary btn-lg">Recalculate Food for {{ pet_data[0].name }}</button>
            </a>    
        </div>    
    {% elif pet_data[0].is_nursing == "y" %}
        <div class="button-container">
            <a href="{{ url_for('lactation_status', pet_id=pet_id) }}">
                <button type="button" class="btn btn-secondary btn-lg">Recalculate Food for {{ pet_data[0].name }}</button>
            </a>    
        </div>   
    {% elif pet_data[0].bcs >= 5 %}
        <div class="button-container">
            <a href="{{ url_for('pet_condition', pet_id=pet_id) }}">
                <button type="button" class="btn btn-secondary btn-lg">Recalculate Food for {{ pet_data[0].name }}</button>
            </a>    
        </div> 
    {% elif pet_data[0].is_pediatric == "y" %}
        <div class="button-container">
            <a href="{{ url_for('pet_info_continued', pet_id=pet_id) }}">
                <button type="button" class="btn btn-secondary btn-lg">Recalculate Food for {{ pet_data[0].name }}</button>
            </a>    
        </div> 
    {% endif %}
</div>

{% endblock %}