{% extends 'base.html' %}

{% block title %}Part 6: Pet's DER{% endblock %}
0
{% block content %}

<div class="container-lg">
    <h1>Find Pet</h1>

    <form action="/sell" method="POST">
        <div class="mb-3">
            <select name="symbol">
                <option disabled selected>Symbol</option>
                {% for stock in user_stocks %}
                    {% if stock.number_shares_bought > 0 %}
                            <option value="{{ stock.symbol_bought }}">{{ stock.symbol_bought }}</option>
                    {% endif %}
                {% endfor %}

            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Number of Stocks to Sell" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
    <!-- Outputs error messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class="flash">⚠️ {{ messages[-1] }} ⚠️</p>
        {% endif %}
    {% endwith %}

    <!-- Load in calcuated DER --> 
    <a href="{{ url_for('rer', pet_id=pet_id) }}">
        <button type="button" class="btn btn-secondary btn-lg">Go Back To Part 4: Pet's RER</button>
    </a>

    <!-- Divider solution suggested by Michael Allen on Stack Overflow -->
        
    <div class="divider"></div>
    <a href="{{ url_for('completed_report', pet_id=pet_id) }}">
        <button type="submit" class="btn btn-secondary btn-lg">Go to Final Report</button>
    </a>
    </div>
    

</div>
{% endblock %}