{% from "bootstrap5/form.html" import render_form %}

{% extends 'base.html' %}

{% block title %}Part 1: Pet Information{% endblock %}

{% block content %}

<div class="container-lg">
    <h1><b>Part 1: Pet Information</b></h1>

    <!-- Progress bar -->
    <div class="progress" role="progressbar" aria-label="bar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 0%">0%</div>
      </div>

    
    <!-- Load in WTF Form --> 
    <form action="{{ url_for('pet_info') }}" method="POST">
        <div class="row">
            <div class="col" title="Name">
                {{ form.pet_name.label }} {{ form.pet_name }}
            </div>
            <div class="col" title="Species">
                Pet's Species: 
                <!-- Onchange/Refresh function suggested by https://stackoverflow.com/users/2827407/apad1 on Slack-->
                <select name="Pet's Species" id="species" onchange="window.setTimeout(function(){ document.location.reload(true); }, this.options[this.selectedIndex].value*1000);">
                    <option value="" disabled selected>
                        Please make a selection
                    </option> 
                    <option value="canine">
                        Canine
                    </option>
                    <option value="feline">
                        Feline
                    </option>
                </select>
            </div>
            <div class="col" title="Breed">
                Pet's Breed: 
                <select name="Pet's Breed"></select>
            </div>
            <div class="col" title="Pet's Sex">
                {{ form.pet_sex.label }} {{ form.pet_sex }}
            </div>
            <div class="col" title="Age in Years">
                {{ form.pet_age.label }} {{ form.pet_age }}
            </div>
            <div class="col" title="Age in Months">
                {{ form.pet_age_months.label }} {{ form.pet_age_months }}
            </div>

        </div>

    
        <div class="row">
            <button type="submit" class="btn btn-secondary btn-lg">Go to Next Part</button>
        </div>
    </form>
</div>

<!-- JavaScript for session variables -->
<!--<script src="{{ url_for('static', filename='js/signalment_scripts.js') }}"></script>-->

<script>
    // TODO: Use session variables to save form input on reload
</script>
{% endblock %}