{% from "bootstrap5/form.html" import render_form %}

{% extends 'base.html' %}

{% block title %}Part 1: Pet Information{% endblock %}

{% block content %}

<div class="container-lg">
    <h1><b>Part 1: Pet Information</b></h1>

    <!-- Progress bar -->
    <div class="progress" role="progressbar" aria-label="bar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 0%">0%</div>
      </div>

    
    <!-- Load in WTF Form --> 
    <form action="{{ url_for('pet_info') }}" method="POST">
        <div class="row">
            <div class="col" title="Name">
                {{ form.patient_name.label }} {{ form.patient_name }}
            </div>
            <div class="col" title="Species">
                {{ form.patient_species.label }} {{ form.patient_species }}
            </div>
            <div class="col" title="Breed">
                {{ form.patient_breed.label }} {{ form.patient_breed }}  
            </div>
            <div class="col" title="Pet's Sex">
                {{ form.patient_sex.label }} {{ form.patient_sex }}
            </div>
            <div class="col" title="Age in Years">
                {{ form.patient_age.label }} {{ form.patient_age }}
            </div>
            <div class="col" title="Age in Months">
                {{ form.patient_age_months.label }} {{ form.patient_age_months }}
            </div>

        </div>

    
        <div class="row">
            <button type="submit" class="btn btn-secondary btn-lg">Go to Next Part</button>
        </div>
    </form>
</div>

<!-- Links Javascript for showing/hiding forms based on user input-->
<script src="{{ url_for('static', filename='js/signalment_scripts.js') }}"></script>

{% endblock %}