<!-- Import render_form FlaskForm can be used -->
{% from "bootstrap5/form.html" import render_form %}

{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container-lg">
    <h1>Login</h1>
    <div>
        <!-- Render the FlaskForm for Login -->
        {{ render_form(form) }}
    </div>

    <!-- Outputs error messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for error in messages %}
                <p class="flash">⚠️ {{ error }} ⚠️</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

</div>
{% endblock %}