{% extends 'base.html' %}

{% block title %}Part 5: New Food{% endblock %}
0
{% block content %}

<div class="container-lg">
    <h1><b>Part 5: New Food</b></h1>

    <!-- Progress bar -->
    <div class="progress" role="progressbar" aria-label="bar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 87.5%">87.5%</div>
    </div>

    <!-- Load in WTF Form --> 
    <form action="{{ url_for('new_food') }}" method="POST">
        <div class="row">
            Please enter the calorie information of the new food you are interested in switching
            your pet to. Please enter 0 in the second field if you are only interested in transitioning
            your pet to only one food.
        </div>

        <div class="row">
            <div class="col" title="First New Food Calories Label">
                {{ new_foods.new_food_one_kcal.label }}
            </div>
            <div class="col" title="First New Food Calorie Input">
                {{ new_foods.new_food_one_kcal }}
            </div>
        </div>
        <div class="row">
            <div class="col" title="Second New Food Calories Label">
                {{ new_foods.new_food_two_kcal.label }}
            </div>
            <div class="col" title="Second New Food Calorie Input">
                {{ new_foods.new_food_two_kcal }}
            </div>
        </div>

        <div class="row">
            * This information can be found on the back or side of most bags of food.
            Most times, kcal/cup or kcal/can is found near or opposite of the ingredients or
            guaranteed analysis panels.
        </div>
        
        <div class="button-container">
            <a href="{{ url_for('confirm_data') }}">
                <button type="button" class="btn btn-secondary btn-lg">Go Back To Part 3: Confirm Pet Info</button>
            </a>

            <!-- Divider solution suggested by Michael Allen on Stack Overflow -->
            <div class="divider"></div>

            <button type="submit" class="btn btn-secondary btn-lg">Calculate!</button>
        </div>
    </form>

</div>
{% endblock %}