
{% extends 'base.html' %}

{% block title %}Find a Human Food{% endblock %}

{% block content %}

<div class="container-lg">
    <h1>Find a Human Food</h1>
    
    <!-- Outputs error messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for error in messages %}
                <p class="flash">⚠️ {{ error }} ⚠️</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="hf">
        Please enter a food below (e.g. strawberries, tuna, et cetra) to check the maximum amount your pet may receive per day. 
    </div>

    <!-- Prompt user to give a human food to look up in the USDA food database -->

    <div>
        <form method="POST" action="{{ url_for('human_foods.search_human_foods', pet_id=pet_id) }}">
            <div id="hf_form" class="form-group">
                <label for="food_name" class="hf-form-label">Food name:</label>
                <input type="text" id="name" name="food_name" class="hf_input" placeholder="Please type the name of a food to look up">
                <input type="hidden" name="form_type" value="search">
                <input type="submit" value="Search" id="hf_submit" class="btn btn-secondary btn-lg">
            </div>
        </form>
    
        {% if found_foods %}
            <div class="{% if found_foods|length > 3 %}big_table{% else %}small_table{% endif %}">
                <table class="human_food_container">
                    {% for food in found_foods %}
                        <tr class="{% if loop.index0 is even %}even-row{% else %}odd-row{% endif %}">
                            <td class="human_food">
                                <div class="food_name">
                                    {% if food.food_type == "Brand" %}
                                        {{ food.brand_name }} {{ food.food_name }}
                                    {% elif food.food_type == "Generic" %}
                                        {{ food.food_name }}
                                    {% endif %}
                                </div>
    
                                <div class="calorie_info">
                                    {{ food.calorie_string }} ({{ food.serving_size_string }})
                                </div>
                            </td>
                            <td class="hf_button">
                                <!-- Form to select a food item -->
                                <form method="POST" action="{{ url_for('human_foods.search_human_foods', pet_id=pet_id) }}">
                                    <input type="hidden" name="form_type" value="select">
                                    <input type="hidden" name="food_name" value="{{ food.food_name }}">
                                    <input type="hidden" name="food_type" value="{{ food.food_type }}">
                                    <input type="hidden" name="brand_name" value="{{ food.brand_name }}">
                                    <input type="hidden" name="serving_size_number" value="{{ food.serving_size_number }}">
                                    <input type="hidden" name="serving_size_unit" value="{{ food.serving_size_unit }}">
                                    <input type="hidden" name="serving_size_string" value="{{ food.serving_size_string }}">
                                    <input type="hidden" name="num_calories" value="{{ food.num_calories }}">
                                    <input type="hidden" name="calorie_string" value="{{ food.calorie_string }}">
                                    <input type="hidden" name="food_id" value="{{ food.food_id }}">
                                    <button type="submit" id="treat_calc" class="btn btn-primary btn-sm">
                                        Calculate Treat Amounts
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

    </div>
</div>
{% endblock %}