{% extends 'base.html' %}

{% block title %}Part 7: Pet's RER{% endblock %}
0
{% block content %}

<div class="container-lg">
    <h1>Part 7: Pet's RER</h1>

    <!-- Progress bar -->
    <div class="progress" role="progressbar" aria-label="bar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 77%">77%</div>
    </div>

    <!-- Outputs error messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class="flash">⚠️ {{ messages[-1] }} ⚠️</p>
        {% endif %}
    {% endwith %}
    
    <!-- Load in calcuated RER --> 
    <div class="row">
        <p>
            {{ name }}'s Resting Energy Requirement (RER) is {{ rer }} kcalories per day. 
            This is the minimum amount of calories {{ name }} needs in order to 
            maintain         

            <!-- If pet is male, use "his" instead of "him" -->
            {% if sex == 3 or sex == 4 %}
                {{ possessive_pronoun }} 
            {% else %}
                {{ object_pronoun }} 
            {% endif %} 
            metabolic processes. {{ name }} weighs {{ weight }} 
            {{ units }} ({{ converted_weight }} {{ converted_weight_units }}).
            The following formula was used:
                <div class="formula">
                    RER = 70 x (body weight in kilograms)<sup>0.75</sup>
                </div>
            Calculating the Resting Energy Rate is a recognized, reliable first step 
            to find how many calories a pet should eat per day. However, every pet is
            an individual. While this formula works well for 50% of pets, 25% may require 
            more food, while 25% require less food. 
            {% if der_low_end != der_high_end %}
                Therefore, on the next page the Pet Food Calculator will calculate a 
                range of calories per day for {{ name }}. 
            {% endif %}
            
            It is important to re-weigh your pet and get an updated body condition score at least
            once a month to ensure they are being fed appropriately.
        </p>
    </div>
    <div class="button-container">
        <a href="{{ url_for('confirm_data', pet_id=pet_id) }}">
            <button type="button" class="btn btn-secondary btn-lg">Go Back To Part 5: Confirm Pet Info</button>
        </a>

        <!-- Divider solution suggested by Michael Allen on Stack Overflow -->
        <div class="divider"></div>

        <a href="{{ url_for('der', pet_id=pet_id) }}">
            <button type="submit" class="btn btn-secondary btn-lg">Go to Next Part</button>
        </a>
    </div>
    

</div>
{% endblock %}