{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container-lg">
    <h1>Welcome to the Picture Palette Picker!</h1>



    <!-- Creates an HTML form so the user can upload a file -->
     <!-- Multipart/form-data suggested by W3Schools -->
    <form action="{{ url_for('home') }}" method="POST" enctype="multipart/form-data">
        <label for="fileToUpload" class="custom-upload-button">
            Browse
        </label>
        <input type="file" name="file_to_upload" id="fileToUpload">
        <input type="submit" value="Upload Image" name="submit">
    </form>

    {% for i in range(2) %}
        <div class="cards-wrapper">
            {% for i in range(5) %}
                <div class="color-container">
                    <div class="flip-card">
                        <div class="side a">
                            <!-- TODO: Load uploaded image colors into the box-->
                            front
                        </div>
                        <div class="side b">
                            <!-- TODO: Load hex color code into side 2 -->
                          #000000
                        </div>
                    </div>    
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</div>
{% endblock %}