{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container-lg">
        <h1>Welcome to the Picture Palette Picker!</h1>

        <!-- Creates an HTML form so the user can upload a file -->
        <!-- Multipart/form-data suggested by W3Schools -->
        <form action="{{ url_for('home') }}" method="POST" enctype="multipart/form-data">
            <input id="original" type="file" name="uploaded_file" />
            <input type="submit" value="Upload Image" name="submit" />
        </form>

        <!-- Show color boxes when the user uploads an image -->

        {% if chosen_file %}

            <!-- Add color boxes in 2 rows of 5 -->
            {% for color, formatted_color in zip(first_five_colors, formatted_first_five_colors) %}
                <div class="outside-div">
                    <div class="cards-wrapper">
                        <div class="color-container">
                            <div class="flip-card">
                                <div class="side a" style="background-color: {{ formatted_color }};">
                                    <!-- Loads uploaded image colors into the box-->
                                </div>
                                <div class="side b">
                                    <!-- Load RGB color code into side 2 -->
                                    <p>
                                        {{ color }}
                                    </p>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for color, formatted_color in zip(next_five_colors, formatted_last_five_colors) %}
                <div class="outside-div">
                    <div class="cards-wrapper">
                        <div class="color-container">
                            <div class="flip-card">
                                <div class="side a" style="background-color: {{ formatted_color }};">
                                    <!-- Loads uploaded image colors into the box-->
                                </div>
                                <div class="side b">
                                    <!-- Load RGB color code into side 2 -->
                                    <p>
                                        {{ color }}
                                    </p>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}