{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container-lg">
    <h1>Welcome to the Picture Palette Picker!</h1>

    <!-- TODO: Load uploaded image colors into the boxes-->
    <table>
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
    </table>

    <!-- Creates an HTML form so the user can upload a file -->
     <!-- Multipart/form-data suggested by W3Schools -->
    <form action="{{ url_for('home') }}" method="POST" enctype="multipart/form-data">
        <label for="fileToUpload" class="custom-upload-button">
            Browse
        </label>
        <input type="file" name="file_to_upload" id="fileToUpload">
        <input type="submit" value="Upload Image" name="submit">
    </form>
</div>
{% endblock %}