:root {
    /* Palette courtesy of 
    https://coolors.co/000000-66666e-9999a1-e6e6e9-f4f4f6 */

    --anti_flash_white: #F4F4F6;
    --platinum: #E6E6E9;
    --taupe_gray: #9999A1;
    --dim_gray: #66666E;
    --black: #000000;
}

body {
    background-color: var(--dim_gray);
}

/* Calendar */

table.month {
    width: 70%; 
    border-collapse: collapse;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
}

    table.month th, table.month td {
        border: 1px solid var(--dim_gray);
    } 

    table.month th {
        text-align: center;
    }

    th.month {
        padding: 2vw;
    }
    
    table.month td {
        text-align: top;
        padding: 1vw 3vw 3vw 1vw;
        font-weight: 700;
    }
    
    table.month > tbody:nth-child(1) > tr:nth-child(2) {
        background-color: var(--platinum);
        color: var(--dim_gray);
        border-color: var(--taupe_gray);
        padding: 1vw 1vw 1vw 2vw;
    }

    table.month > tbody:nth-child(1) > tr:nth-child(n+3) {
        background-color: var(--anti_flash_white);
    }
    .tbody {
        background-color: var(--platinum);
    }

    table.month th.month {
        background-color: var(--anti_flash_white);
    }
    
    table.month td.noday {
        background-color: var(--taupe_gray);
    } 



/* Today's View */
.day_view {
    background-color: var(--anti_flash_white);
    border: 0.5vw double var(--black);
    width: 60%;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.day {
    font-size: 5vw;
    border: 0.3vw double var(--black);
    text-align: center;
    padding: 0vw 1.5vw 0.15vw 1.5vw;
    position: relative;
    margin: 2vw 10vw 20vw 2vw;
    top: 0vw;
    left: 0vw;
    color: var(--dim_gray);
    width: fit-content;
    height: fit-content;
    z-index: 1;
}

    .priorities {  
        font-size: 3vw;
        text-decoration: underline;
        font-weight: 650;
        color: var(--black);
        position: absolute;
        top: 7vw;
        right: 4vw;
    }

/* Navigation Bar */
.navbar-brand {
    padding-left: 2vw;
}

    .navbar-brand, .nav-link {
        color: var(--taupe_gray);
    }
    
    .nav-link.active  {
        color: var(--platinum)
    }

    .dropdown-menu {
        background-color: #212529;
    }
        
        .dropdown-item, .dropdown-item:hover {
            color: var(--platinum);
        }

        .dropdown-item:hover {
            background-color: #2b2f33;
        }

/* Hourly Schedule View */
.hourly_schedule.am_hours {
    margin-left: 34vw;
}
    
    .hourly_schedule.am_hours, .hourly_schedule.pm_hours {
        position: absolute;
        margin-top: 7vw;
        border-spacing: 0 0.5vw;
        z-index: 2;
    }

    .hourly_schedule.pm_hours {
        position: absolute;
        margin-left: 55vw;
    }

    .hourly_schedule.am_hours td, .hourly_schedule.pm_hours td {
        padding: 0.5vw;
    }