:root {
    --white: #f1e4e9;
    --pale_white_green: #c6f1d3;
    --pale_sky_blue: #70abad;
    --light_sky: #70c2c3;
    --green_black: #091f19;
    --deep_blue_green: #215342;
    --light_lime: #7CFF6B;
    --darker_lime_transparent: #568b3fe5;
    --darker_lime: #527e3f;
}
br {
    margin-top: 25px;
}

body {
    background-color: var(--pale_white_green);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: var(--deep_blue_green);
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

    h2 {
        color: var(--deep_blue_green);
        display: inline-block;
        padding: 5px;
        padding-top: 25px;
        font-family: "Arvo", serif;
        font-style: bold;
        font-weight: 600;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

.login {
    margin: 2px;
}

/* Tables */
.table {
    font-size: 14.5px;
    text-align: center;
    border-bottom: 1px solid var(--deep_blue_green);
    border: 1px solid var(--pale_sky_blue);
    --bs-table-bg: var(--pale_white_green);
    --bs-table-striped-color: var(--light_sky);
    --bs-table-striped-bg: var(--pale_sky_blue);
    margin-top: 2vw;
    margin-bottom: 0vw;
}

    thead {
        font-weight: 500;
        --bs-table-bg: #84b893;
        /* TODO: Change thead font colors */
        color: #fff;
    }



/* Links */
a {
    color: var(--darker_lime);
}

a:hover {
    color: var(--darker_lime_transparent);
}


/* Buttons */
.btn {
    background-color: var(--green_black);
    border-color: var(--green_black);
    --bs-btn-active-color: var(--deep_blue_green);
    --bs-btn-active-border-color: var(--deep_blue_green);
    --bs-btn-hover-bg: var(--deep_blue_green);
    --bs-btn-hover-border-bg: var(--deep_blue_green);
    color: var(--pale_white_green);
    text-align: center;
    margin: 5px;
    position: relative;
}

    .btn-sm {
        color: #cdfcc7;
        font-weight: 500;
        background-color: var(--darker_lime);
        border-color: var(--darker_lime);
        --bs-btn-active-color: var(--darker_lime_transparent);
        --bs-btn-active-border-color: var(--darker_lime_transparent);
        --bs-btn-hover-bg: var(--darker_lime_transparent);
        --bs-btn-hover-border-bg: var(--darker_lime_transparent);
    }

    .button-container {
        display: flex;
        justify-content: center;
        padding: 2vw;
    }
    
        .button-container-fp {
            display: flex;
            justify-content: center;
            position: relative;
            padding: 2px;
            margin-top: 210px;
            margin-bottom: 25px;
        }

    /* Divider solution suggested by Michael Allen on Slack */
    .divider {
        width: 25vw;
        height: auto;
        display: inline-block;
    }

/* Progress bar */
.progress {
    --bs-progress-bg: var(--pale_white_green);
    --bs-progress-bar-bg: var(--darker_lime_transparent);
    margin: 20px;
}

    .progress-bar {
        color: var(--deep_blue_green);
        font-weight: 700;
    }

.header-img {
    margin-bottom: 10px;
    border: 5px var(--deep_blue_green);
    border-style: double;
    width: 73vw;
    height: 25vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-lg {
    position: relative;
    border: 5px var(--deep_blue_green);
    border-style: double;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 73vw;
    margin-bottom: 20px;
    background-color: var(--white);
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    justify-content: space-between;

}

    .data {
        position: absolute;
        top: 275px;
        width: 85%;
        margin-left: 60px;
    }

/* Navigation bar */
.nav.nav-tabs {
    width: 73vw;
    margin-left: auto;
    margin-right: auto;
    --bs-navbar-color: var(--deep_blue_green);
}

#nav-home-tab, #nav-pfc-tab, #nav-pets-tab {
    background-color: var(--green_black);
    color: var(--pale_white_green);
}
    #nav-home-tab:hover, #nav-pfc-tab:hover, #nav-pets-tab:hover {
        background-color: var(--deep_blue_green);
    }

/* BCS dropdowns */
.accordion {
    --bs-accordion-border-color: var(--darker_lime);
    --bs-accordion-btn-icon: 0;
    --bs-accordion-btn-active-icon: 0;
    --bs-accordion-active-bg: var(--darker_lime_transparent);
    --bs-accordion-active-color: var(--pale_white_green);
    --bs-accordion-btn-active-icon: #00e043;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #568b3fa4;

}

    .accordion-collapse {
        --bs-accordion-active-color: #000;
    }

.bcs {
    margin-left: auto;
    margin-right: auto;
}

/* Cards for BCS */
.card {
    display: flex;
    width: 15vw;
    padding: 5px;
    min-height: 20vw;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
}

.card-title {
    text-align: center;
    font-weight: 700;
}

.card-text {
    flex: 1;
    height: 17vw;
    font-size: 15px;
}

/* Error messages */
.flash {
    text-align: center;
    font-weight: 700;
    color: #880F21;
}

/* Form formatting */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  #info {
    padding: 10px;
  }
  
  .col {
    flex-basis: 40%;
    box-sizing: border-box;
    padding: 5px;
  }
  
    .form_divider {
        padding-left: 2px;
    }

/* Formula formatting */
.formula {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

    .final_formula {
        position: relative;
        text-align: center;
        padding-bottom: 20px;
        top: 80px;
    }

/* Exercise and feeding alignment */
.food_and_exercise {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    justify-content: space-between;
    top: 75px;
    width: 63%;
    margin-left: 330px;
    margin-right: 30px;
    margin-bottom: 75px;
    min-height: 450px;
    flex-wrap: wrap;

}
.report_wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    max-height: 200px;
}

.report_title {
    position: absolute;
    height: 10vw;
    top: 95px;
    margin-left: 20vw;

}

/* Container for the SVG */

.report_img_fel, .report_img_k9 {
    display: flex;
    align-items: flex-start;
    position: sticky;
    transform: translateY(-125px); /* Suggested by CoPilot */
    top: 20px;
    margin-left: 790px;
}

    /* Horizontal line styling */
    .fel_line {
        height: 9px; 
        width: 73%;
        background-color: var(--deep_blue_green);
        position: absolute;
        top: 172.5px; 
    }

    .k9_line {
        height: 13.5px; 
        width: 73%;
        border-top: 1px solid var(--deep_blue_green);
        border-bottom: 1px solid var(--deep_blue_green);
        position: absolute;
        top: 185px; 
        margin-left: 20px;
    }

    .k9_line_shortened {
        height: 8.5px; 
        width: 68%;
        border-top: 1px solid var(--deep_blue_green);
        border-bottom: 1px solid var(--deep_blue_green);
        position: absolute;
        top: 185px; 
        margin-left: 20px;
    }

/* Puzzle feeder images */
#final_report {
    display: flex;
    position: absolute;
    flex-grow: 1;
    margin: auto;
    margin-right: 46vw;
    top: 0px;
    width: 250px;
    height: fit-content;
    border: 2px solid var(--deep_blue_green);
    font-size: 15px;
    overflow: auto;
    flex-wrap: wrap;
    color: var(--deep_blue_green);
}

#fr {
    width: 220px;  
    margin-left: 5px;
}

 .card-title-fr {
    font-size: 17px;
 }

 .card-text-fr {
    margin-bottom: -2px;
    padding: 2px;
 }

 .card-body-fr {
    margin-left: 15px;
    margin-bottom: 5px;
 }

/* Final report obesity recommendations and treat formatting */

.obesity_considerations_and_treats {
    display: flex;
    position: relative;
    z-index: 1;
    top: 0px;
    width: 250px;
    margin-right: 46vw;

}

.reproduction_recs {
    transform: translateY(15px);
    position: relative;
    
}

.fp_link {
    position: relative;
    display: inline;
}

.exercise_and_treats {
    transform: translateY(20px);
    position: relative;
    min-height: 350px;
    margin-bottom: -50px;
}